<h1>List of all current tickets</h1>
<p>These are a list of all of your open repair tickets. Create a <%= link_to 'new ticket', new_ticket_path %> or <%= link_to 'go back to the dashboard', dashboard_show_path %></p>

<table>
	<tr>
		<th>Title</th>
		<th>Text</th>
	</tr>

	<% @tickets.each do |ticket| %>
	<tr>
		<td><%= ticket.title %></td>
		<td><%= ticket.description %></td>
	</tr>
	<% end %>
</table>