<h1>Current Open Ticket</h1>

<p>
  <strong>Title:</strong>
  <%= @ticket.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @ticket.description %>
</p>

<%= link_to 'Go back to the Dashboard', dashboard_path %>